{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
    <title>{% block title %}My Posts{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    <meta name="description" content="{% block meta_description %}Mcdelsi Used Chubbies - The best place to shop for used or second hand Chubbies{% endblock meta_description %}">
    <meta name="keywords" content="{% block meta_keywords %}used chubbies, secondhand chubbies, second hand chubbies, mcdelsi used chubbies, mcdelsi secondhand chubbies, mcdelsi second hand chubbies,{% endblock meta_keywords %}">
  {% endblock head %}
</head>

<body>
  {% block base_body %}
    {% block navbar %}
      <section id="head-bar">
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle"collapse" data-target"#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
            <a class="navbar-brand" href="">Mcdelsi Used Chubbies</a>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="category/standard/">Standard Used Chubbies</a></li>
                <li><a href="category/comfort/">Comfort Used Chubbies</a></li>
                <li><a href="category/winter">Winter Used Chubbies</a></li>
              </ul>
              <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="signin">Sign In</a></button>
              <button type="button" class="btn btn-default navbar-btn navbar-right"><a href="signup">Sign Up</a></button>
            </div>
          </div>
        </nav>
      </section>
    {% endblock navbar %}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Mcdelsi Used Chubbies</h1>
        <p>
        The top source for all of your used Chubbies.  Second hand Chubbies at a discount price.
        </p>
        <p>
          <a class="btn btn-primary btn-lg">Try it free</a>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div>
          <h3>Check out these used Chubbies</h3>
          <ul>
            {% for chubbie in chubbies %}
              <li>
                <a href="#">{{ chubbie.name }}</a>
                <img src="{% static chubbie.image %}"/>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Bro(wse) Top TV Reviews</h3>
          <ul>
           <li><a href="#">Always Sunny In Philidelphia</a></li>
           <li><a href="#">The League</a></li>
           <li><a href="#">Narcos</a></li>
           <li><a href="#">Marco</a></li>
           <li><a href="#">iZombie</a></li>
           <li><a href="#">Blue Mountain State</a></li>
           <li><a href="#">The Walking Dead</a></li>
           <li><a href="#">Survivor</a></li>
          <a class="btn btn-primary btn-sm">Browse more</a>

          </ul>
        </div>
        <div class="col-md-6">
          <h3>Bro(wse) Top Movie Reviews</h3>
          <ul>
           <li><a href="#">Animal House</a></li>
           <li><a href="#">The Wizard of Oz</a></li>
           <li><a href="#">Groundhog Day</a></li>
           <li><a href="#">Pleasantville</a></li>
           <li><a href="#">Troll 2</a></li>
           <li><a href="#">Man of Steel</a></li>
           <li><a href="#">The Avengers</a></li>
           <li><a href="#">Blade</a></li>
          <a class="btn btn-primary btn-sm">Browse more</a>
          </ul>

        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h2>Where my Boyz at?</h2>
        <p>Invite your boyz for free today, and share in the #1 review site for friends, family, and co-workers</p>
          <a class="btn btn-success btn-sm">Find my boyz</a>

      </div>
    </div>
  {% endblock base_body %}
</body>

</html>
