{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
    <title>{% block title %}Mcdelsi Used Chubbies{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% block css %}{% endblock css %}

    <meta name="description" content="{% block meta_description %}Mcdelsi Used Chubbies - The best place to shop for used or second hand Chubbies{% endblock meta_description %}">
    <meta name="keywords" content="{% block meta_keywords %}used chubbies, secondhand chubbies, second hand chubbies, mcdelsi used chubbies, mcdelsi secondhand chubbies, mcdelsi second hand chubbies,{% endblock meta_keywords %}">
  {% endblock head %}
  <!-- Google Analytics Script -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70964015-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- End Google Analytics Script -->
</head>

<body>
  {% block navbar %}
    <section id="head-bar">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle"collapse" data-target"#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <a class="navbar-brand" href="">Mcdelsi Used Chubbies</a>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/category/standard/">Standard Used Chubbies</a></li>
              <li><a href="/category/comfort/">Comfort Used Chubbies</a></li>
              <li><a href="/category/winter">Winter Used Chubbies</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
  {% endblock navbar %}
  {% block base_body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Mcdelsi Used Chubbies</h1>
        <p>The top source for all of your used Chubbies.  Second hand Chubbies at a discount price.</p>
        <p>
          <a class="btn btn-primary btn-lg">Try it free</a>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div>
          <h3>Check out these used Chubbies</h3>
          <ul>
            {% for chubbie in chubbies %}
              <li>
                <a href="/product/{{ chubbie.slug }}/">{{ chubbie.name }}
                  <img class="chubbie_home_image" src="{% static chubbie.image %}"/>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% comment %}
        <div class="col-md-6">
          <h3>Bro(wse) Top TV Reviews</h3>
          <ul>
           <li><a href="#">Always Sunny In Philidelphia</a></li>
           <li><a href="#">The League</a></li>
           <li><a href="#">Narcos</a></li>
           <li><a href="#">Marco</a></li>
           <li><a href="#">iZombie</a></li>
           <li><a href="#">Blue Mountain State</a></li>
           <li><a href="#">The Walking Dead</a></li>
           <li><a href="#">Survivor</a></li>
          </ul>
        </div>
        {% endcomment %}
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h2>What else?</h2>

      </div>
    </div>
  {% endblock base_body %}
</body>

</html>
