{% extends "base.html" %}
{% load staticfiles %}
{% block base_body %}
  <div class="container">
    <div class="row">
      <div>
        <h3>Order Complete</h3>
        <ul>
          {% for chubbie in chubbies %}
            <li>
              <a href="/product/{{ chubbie.slug }}/">{{ chubbie.name }}
                <img class="chubbie_home_image" src="{% static chubbie.image %}"/>
              </a>
            </li>
          {% endfor %}
        </ul>
        <p>Thank you for purchasing Mcdelsi Used Chubbies.</p>
        <a href="/">Start Over</a>
      </div>
    </div>
  </div>
{% endblock base_body %}
